.content{
  margin-top:50px;
  .img{
    width: 90%;
    border: 1px solid black;
    height: 90%;
    margin-left: 15px;
    line-height: 200px;
  }
  .artical-li{
    cursor: pointer;
    span{
    cursor: pointer;
  }
}
}
