.el-container{
  background-color: transparent;
  height: 100%;
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    margin-top: 20px;
  }
  .el-main {
    height: 100%;
    overflow: scroll;
    background-color: transparent;
    color: #333;
    text-align: center;
    line-height: 160px;
    .scroll{
      height: 100%;
      overflow: scroll;
    }
}
}
