.el-container{
  background-color: #E9EEF3;
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    margin-top: 20px;
  }
  .el-main {
    height: 1000px;
    overflow: scroll;
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
    .scroll{
      height: 1000px;
      overflow: scroll;
    }
}
}
