.login
  .content
    el-form(:inline="true")
      el-form-item(label="userName")
        el-input
      el-form-item(label="passWord")
        el-input
    .submit-button 
      el-button(type="primary") login
