.login{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin:0px;
  .content{
    width: 450px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -225px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .el-form{
      width: 90%;
      height: 50%;
    }
    .submit-button {
      width: 90%;
      .el-button{
        width: 100%;
      }
    }
  }
}