.global-title
  .topInfoTitle
    img(style="width: 60px; height: 60px" src="../../../assets/i-neurology.png")
    .title(style = "height: 60px;line-height: 60px;") 我的个人博客
  .menu-bar
    el-menu(
        :default-active="activeIndex"
        class="el-menu-vertical-demo"
        mode="horizontal"
      )
      el-menu-item(index='1' actvie) 首页
      el-menu-item(index='2') 文章
  .search
    el-input(
          suffix-icon='el-icon-search'
          size='mini'
      )
  .global-login
    el-button(type='text' @click='login') 登录
    el-button(type='text') 退出